body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: #31405f;
  color: #c995a2;
  height: 100%;
  width: 100%;
}

.poductsPage {
  text-align: center;
}

.productImage {
  height: 400px;
  width: 300px;
}

.productCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* text-align: center; */
}

.productCard {
  background-color: #c995a2;
  color: #31405f;
  width: 400px;
  padding: 2%;
  margin: 2%;
  border-radius: 25px;
}

.viewProduct {
  text-align: center;
  margin: auto, 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topHalf {
  background-color: #c995a2;
  color: #31405f;
  margin-bottom: 0%;
  padding-bottom: 0%;
  padding: 2%;
  margin: 2%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 600px;
  justify-self: center;
}

.bottomHalf {
  background-color: #bfc6cc;
  color: #094152;
  margin-top: 0%;
  padding-top: 0%;
  padding: 2%;
  margin: 2%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 600px;
}

.navBar {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.nav {
  background-color: #bfc6cc;
  padding: 10px;
}

.comment {
  border-top: solid 1px #094152;
  padding-top: 3px;
  margin-top: 12px;
}

textarea {
  width: 80%;
  /* height: 80%; */
}

.about {
  margin: 20px;
  padding: 90px;
}

.productBidDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 1px #31405f;
  margin: 5%;
}
.previousBid {
  height: 10%;

}

.productBidDiv h3 {
  margin-top: 5%;
}

.newBid {
  margin-top: 5%;
  height: 10%;
}

.signUp {
  background-color: #31405f;
  color: #c995a2;
  width: 100%;
  padding: 7%;
}

.SignupForm {
  background-color: #c995a2;
  color: #31405f;
  width: 400px;
  padding: 2%;
  margin: 2%;
  border-radius: 25px;
  width: 50%;
}

input {
  margin: 1%;
}

.fileForm {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20%;
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createProduct {
  background-color: #c995a2;
  color: #31405f;
  width: 400px;
  padding: 5%;
  margin: 2%;
  border-radius: 25px;
  width: 90%;
}

.profile {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 25%;
  padding-top: 4%;
}


